// Fuentes
$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria: 'Roboto', cursive;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$escritorio: 1024px;


// Colores
$primario: #c30606;
$negro: #000;
$blanco: #FFFFFF;
$gris: #eeefed;
$grisClaro: #f8f8f8;

//Separadores
$separacion: 5rem;



