@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  margin-top: v.$separacion;
  &__titulo {
    color: v.$blanco;
    font-size: 6rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1rem;
    margin:0 0 v.$separacion v.$separacion;
    padding: 0 1rem;
    border-left: 1rem solid v.$negro;
    @include m.tablet {
      font-size: 8rem;
    }
  }
  &__info {
    padding: 2rem 0;
    background-color: v.$primario;
    height: 12rem;
    position: relative;
    &:before {
      content: "";
      background-color: #000;
      height: 12rem;
      position: absolute;
      width: 100%;
      transform: skew(-80deg);
      left: 35rem;
      top: 0;
      @include m.tablet {
        left: 50rem;
      }
      @include m.escritorio {
        content: "";
        left: 75rem;
      }
    }
  }

  &__cajas {
    background-color: lighten(v.$negro, 20%);
    padding: 2rem;
    @include m.tablet {
      @include m.grid(4, 4rem);
    }
  }

  &__bloque {
    grid-column: 1 / 3;
    padding: 2rem;
  }

  &__ubicacion {
    grid-column: 3 / 5;
  }

  &__ubicacion-imagen {
    border-radius: 2rem;
  }


  &__lista {
      margin-bottom: 2rem;
  }

  &__iconos {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: v.$blanco;
    &:last-of-type{
        margin-bottom: 0;
    }
  }

  &__iconos-link {
    color: v.$blanco;
  }

  &__icono {
    font-size: 2rem;
    margin-right: 1rem;
    color: v.$blanco;
  }

  &__redes-lista {
   padding: 4rem 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
  }

  &__copyright {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 1rem;
    text-align: center;
    color: v.$primario;
    margin: 0;
  }
}
